#!/usr/bin/env python3
OPENAI_API_KEY = 'YOUR API KEY!!'
OPENAI_API_MODEL = 'gpt-4'

OLLAMA_HOST = '127.0.0.1:11434'
OLLAMA_MODEL = 'command-r'

PROMPT = '''Write a comment, which I will put in git commit command for changes below git status and git diff.
 Include human readable description of what was changed. 
 Don't write which files were changed. 
 1. output with no introduction, no explaintation, only comment.
 2. DONT MAKE ANY MISTAKES, check if you did any
 3. only return comment, and nothing else.
 4. no DOCUMENATION IN THE OUTPUT

git status:
{}

git diff:
{}
'''